In [1]:
import pandas as pd
import numpy as np
from plydata import *
import matplotlib.pyplot as plt
from scipy import stats

pd.set_option("display.max_columns",None)

df = pd.read_csv("C:/Users/45260/Desktop/5310/group/data/lovoo_v3_users_api-results.csv",encoding='ISO-8859-1')
# print(df_V_MF)
df.head(10)

,gender,genderLooking,age,name,counts_details,counts_pictures,counts_profileVisits,counts_kisses,counts_fans,counts_g,flirtInterests_chat,flirtInterests_friends,flirtInterests_date,country,city,location,distance,isFlirtstar,isHighlighted,isInfluencer,isMobile,isNew,isOnline,isVip,lang_count,lang_fr,lang_en,lang_de,lang_it,lang_es,lang_pt,verified,shareProfileEnabled,lastOnlineDate,lastOnlineTime,birthd,crypt,freetext,whazzup,userId,pictureId,isSystemProfile
0,F,M,25,daeni,1.00,4,8279,239,0,3,True,True,True,CH,Rothenburg,RÃ¼mlang,175.0,0,0,0,1,0,0,0,1,False,False,True,False,False,False,0,1,2015-04-25T20:43:26Z,1.429995e+09,0,NaN,Nur tote Fisch schwimmen mit dem Strom,Nur tote fische schwimmen mit dem strom,4e3842f79b70e7ea57000064,55303fc3160ba0eb728b4575,NaN
1,F,M,22,italiana 92,0.85,5,663,13,0,0,True,True,True,CH,Sissach,Sissach,138.0,0,0,0,1,0,0,0,3,True,False,True,True,False,False,0,1,2015-04-26T09:19:35Z,1.430040e+09,0,NaN,NaN,Primaveraaa<3,4e3d34bf5d2bce7b160006a3,552e7b61c66da10d1e8b4c82,NaN
2,F,M,21,Lauraaa,0.00,4,1369,88,0,2,False,False,True,CH,BÃ¢le,BÃ¢le,137.0,0,0,0,0,0,1,0,0,False,False,False,False,False,False,0,1,2015-04-06T14:24:07Z,1.428330e+09,0,NaN,NaN,NaN,4ec96c090dc82cb25d00000a,54a584ecc56da128638b4674,NaN
3,F,none,20,Qqkwmdowlo,0.12,3,22187,1015,2,3,True,True,False,CA,MontrÃ©al,Berne,77.3,0,0,0,0,0,0,0,2,True,True,False,False,False,False,0,1,2015-04-07T11:21:01Z,1.428406e+09,0,NaN,NaN,Je pense donc je suis. Instagram quedev,4eef8b81ebf2c8f64000000c,54c92738076ea1b5338b4735,NaN
4,F,M,21,schaessie {3,0.15,12,35262,1413,9,12,True,False,False,DE,Rastatt,Rastatt,286.0,0,0,0,0,0,1,0,1,False,False,True,False,False,False,0,1,2015-04-06T14:25:20Z,1.428330e+09,0,NaN,NaN,Instagram: JESSSIESCH,4ef3cc5aa9d0b3d07d000017,54e1a6f6c76da135748b4a3a,NaN
5,F,M,24,Baby dee,0.81,18,7339,180,0,2,True,False,True,DE,Titisee-Neustadt,Titisee-Neustadt,194.0,0,0,0,1,0,1,0,2,False,True,True,False,False,False,0,1,2015-04-08T14:37:51Z,1.428504e+09,0,NaN,NaN,Wicked Wonderlandðâ¤ï¸,4ef9434cca61bece6a000002,54f2b4ce0b6ea1177e8b4d18,NaN
6,F,none,24,Anna,0.65,13,18672,492,0,1,False,True,False,DE,Stuttgart,Stuttgart,318.0,0,0,0,1,0,1,0,5,False,True,True,False,False,False,0,1,2015-04-27T19:29:58Z,1.430163e+09,0,NaN,NaN,ð â Instagram : anna_lem0n,4f10cbc1883fa97a5f000015,54ecbb39170ba08b488b4aa5,NaN
7,F,M,23,Feelinchen,0.81,6,19091,1348,0,20,True,False,True,DE,EisenhÃ¼ttenstadt,Bad Krozingen,175.0,0,0,0,1,0,0,0,2,False,True,True,False,False,False,0,0,2015-04-08T14:18:11Z,1.428503e+09,0,NaN,NaN,ð¸ð»ð¸,4f317525883fa9636900000e,54fc1786170ba041758b4577,NaN
8,F,M,20,chantal,0.88,14,29984,2389,10,11,True,True,True,CH,Gstaad,Steffisburg,81.4,0,0,0,1,0,0,0,3,True,True,True,False,False,False,0,1,2015-04-07T20:01:55Z,1.428437e+09,0,NaN,NaN,ððð,4f3516420c84d3dd23000001,550c8310066ea13f808b4b35,NaN
9,F,M,24,rina1990,0.81,1,5979,147,1,2,True,True,True,DE,Stuttgart,Stuttgart,315.0,0,0,0,0,0,1,0,2,False,True,True,False,False,False,0,1,2015-04-06T16:10:49Z,1.428337e+09,0,NaN,NaN,:-),4fa0fb54883fa90e0d0005d6,53745af3150ba023158b4588,NaN

In [2]:
# df.age.min()

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3992 entries, 0 to 3991
Data columns (total 42 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   gender                  3992 non-null   object
 1   genderLooking           3992 non-null   object
 2   age                     3992 non-null   int64
 3   name                    3992 non-null   object
 4   counts_details          3992 non-null   float64
 5   counts_pictures         3992 non-null   int64
 6   counts_profileVisits    3992 non-null   int64
 7   counts_kisses           3992 non-null   int64
 8   counts_fans             3992 non-null   int64
 9   counts_g                3992 non-null   int64
 10  flirtInterests_chat     3992 non-null   bool
 11  flirtInterests_friends  3992 non-null   bool
 12  flirtInterests_date     3992 non-null   bool
 13  country                 3992 non-null   object
 14  city                    3706 non-null   object
 15  location                3979 non-null   object
 16  distance                3946 non-null   float64
 17  isFlirtstar             3992 non-null   int64
 18  isHighlighted           3992 non-null   int64
 19  isInfluencer            3992 non-null   int64
 20  isMobile                3992 non-null   int64
 21  isNew                   3992 non-null   int64
 22  isOnline                3992 non-null   int64
 23  isVip                   3992 non-null   int64
 24  lang_count              3992 non-null   int64
 25  lang_fr                 3992 non-null   bool
 26  lang_en                 3992 non-null   bool
 27  lang_de                 3992 non-null   bool
 28  lang_it                 3992 non-null   bool
 29  lang_es                 3992 non-null   bool
 30  lang_pt                 3992 non-null   bool
 31  verified                3992 non-null   int64
 32  shareProfileEnabled     3992 non-null   int64
 33  lastOnlineDate          3991 non-null   object
 34  lastOnlineTime          3991 non-null   float64
 35  birthd                  3992 non-null   int64
 36  crypt                   46 non-null     float64
 37  freetext                113 non-null    object
 38  whazzup                 2399 non-null   object
 39  userId                  3992 non-null   object
 40  pictureId               3901 non-null   object
 41  isSystemProfile         2 non-null      float64
dtypes: bool(9), float64(5), int64(17), object(11)
memory usage: 1.0+ MB

In [4]:
# df.iloc[26,]

In [5]:
df_clean = df
df_clean.replace(True,1,inplace = True)
df_clean.replace(False,0,inplace = True)
df_clean["isFlirtstar"] = df_clean["isFlirtstar"].astype("bool")
df_clean["isHighlighted"] = df_clean["isFlirtstar"].astype("bool")
df_clean["isInfluencer"] = df_clean["isFlirtstar"].astype("bool")
df_clean["isNew"] = df_clean["isFlirtstar"].astype("bool")
df_clean["isVip"] = df_clean["isFlirtstar"].astype("bool")
df_clean["verified"] = df_clean["verified"].astype("bool")
df_clean.head()
# print(type(df_clean))

,gender,genderLooking,age,name,counts_details,counts_pictures,counts_profileVisits,counts_kisses,counts_fans,counts_g,flirtInterests_chat,flirtInterests_friends,flirtInterests_date,country,city,location,distance,isFlirtstar,isHighlighted,isInfluencer,isMobile,isNew,isOnline,isVip,lang_count,lang_fr,lang_en,lang_de,lang_it,lang_es,lang_pt,verified,shareProfileEnabled,lastOnlineDate,lastOnlineTime,birthd,crypt,freetext,whazzup,userId,pictureId,isSystemProfile
0,F,M,25,daeni,1.00,4,8279,239,0,3,1,1,1,CH,Rothenburg,RÃ¼mlang,175.0,False,False,False,1,False,0,False,1,0,0,1,0,0,0,False,1,2015-04-25T20:43:26Z,1.429995e+09,0,NaN,Nur tote Fisch schwimmen mit dem Strom,Nur tote fische schwimmen mit dem strom,4e3842f79b70e7ea57000064,55303fc3160ba0eb728b4575,NaN
1,F,M,22,italiana 92,0.85,5,663,13,0,0,1,1,1,CH,Sissach,Sissach,138.0,False,False,False,1,False,0,False,3,1,0,1,1,0,0,False,1,2015-04-26T09:19:35Z,1.430040e+09,0,NaN,NaN,Primaveraaa<3,4e3d34bf5d2bce7b160006a3,552e7b61c66da10d1e8b4c82,NaN
2,F,M,21,Lauraaa,0.00,4,1369,88,0,2,0,0,1,CH,BÃ¢le,BÃ¢le,137.0,False,False,False,0,False,1,False,0,0,0,0,0,0,0,False,1,2015-04-06T14:24:07Z,1.428330e+09,0,NaN,NaN,NaN,4ec96c090dc82cb25d00000a,54a584ecc56da128638b4674,NaN
3,F,none,20,Qqkwmdowlo,0.12,3,22187,1015,2,3,1,1,0,CA,MontrÃ©al,Berne,77.3,False,False,False,0,False,0,False,2,1,1,0,0,0,0,False,1,2015-04-07T11:21:01Z,1.428406e+09,0,NaN,NaN,Je pense donc je suis. Instagram quedev,4eef8b81ebf2c8f64000000c,54c92738076ea1b5338b4735,NaN
4,F,M,21,schaessie {3,0.15,12,35262,1413,9,12,1,0,0,DE,Rastatt,Rastatt,286.0,False,False,False,0,False,1,False,1,0,0,1,0,0,0,False,1,2015-04-06T14:25:20Z,1.428330e+09,0,NaN,NaN,Instagram: JESSSIESCH,4ef3cc5aa9d0b3d07d000017,54e1a6f6c76da135748b4a3a,NaN

In [6]:
# df_clean.nunique()

In [7]:
# df_clean.isnull().any(axis=0)

In [8]:
rondom_fow = df_clean.sample(frac=3.0, replace=True,random_state=1)
# rondom_fow.reset_index(drop=True, inplace=True)
# rondom_fow
df_clean = pd.concat([df_clean,rondom_fow],axis = 0,ignore_index= True)
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15968 entries, 0 to 15967
Data columns (total 42 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   gender                  15968 non-null  object
 1   genderLooking           15968 non-null  object
 2   age                     15968 non-null  int64
 3   name                    15968 non-null  object
 4   counts_details          15968 non-null  float64
 5   counts_pictures         15968 non-null  int64
 6   counts_profileVisits    15968 non-null  int64
 7   counts_kisses           15968 non-null  int64
 8   counts_fans             15968 non-null  int64
 9   counts_g                15968 non-null  int64
 10  flirtInterests_chat     15968 non-null  int64
 11  flirtInterests_friends  15968 non-null  int64
 12  flirtInterests_date     15968 non-null  int64
 13  country                 15968 non-null  object
 14  city                    14839 non-null  object
 15  location                15919 non-null  object
 16  distance                15788 non-null  float64
 17  isFlirtstar             15968 non-null  bool
 18  isHighlighted           15968 non-null  bool
 19  isInfluencer            15968 non-null  bool
 20  isMobile                15968 non-null  int64
 21  isNew                   15968 non-null  bool
 22  isOnline                15968 non-null  int64
 23  isVip                   15968 non-null  bool
 24  lang_count              15968 non-null  int64
 25  lang_fr                 15968 non-null  int64
 26  lang_en                 15968 non-null  int64
 27  lang_de                 15968 non-null  int64
 28  lang_it                 15968 non-null  int64
 29  lang_es                 15968 non-null  int64
 30  lang_pt                 15968 non-null  int64
 31  verified                15968 non-null  bool
 32  shareProfileEnabled     15968 non-null  int64
 33  lastOnlineDate          15964 non-null  object
 34  lastOnlineTime          15964 non-null  float64
 35  birthd                  15968 non-null  int64
 36  crypt                   180 non-null    float64
 37  freetext                460 non-null    object
 38  whazzup                 9567 non-null   object
 39  userId                  15968 non-null  object
 40  pictureId               15594 non-null  object
 41  isSystemProfile         11 non-null     float64
dtypes: bool(6), float64(5), int64(20), object(11)
memory usage: 4.5+ MB

In [9]:
# df_clean_nacheck = df_clean[df_clean[["pictureId"]].isnull().values == True]
# df_clean_nacheck

In [10]:
# # picid_store = []
# # for i in range(df_clean[["pictureId"]].isnull().sum().values[0]):
# #     picid_store.append(str(uuid.uuid4().hex)[:24])
# print(df_clean.iloc[288,40])
# print(df_clean.iloc[331,40])
# print(len(df_clean.iloc[288,40]))

In [11]:
import uuid
# picid_store = []
for i in range(len(df_clean)):
#     if pd.isnull(df_clean.iloc[i,40]):
    df_clean.iloc[i,40] = str(uuid.uuid4().hex)[:24]

In [12]:
df_clean.pictureId.nunique()

15968

In [13]:
# import requests, json
# import pprint
# import json

# def request_data(url):    
#     req = requests.get(url, timeout=30)  # request connection
#     req_json = req.json()  # get data
#     return req_json   

# json_file = []


# for num in range(1,899):

#     url = "https://pokeapi.co/api/v2/pokemon/" + str(num)
#     json_pokemon = request_data(url)
#     data_sprites_url_default = json_pokemon["sprites"]["front_default"]
#     json_file.append(data_sprites_url_default)
# print(json_file[0])

In [14]:
# picsample_extract = pd.DataFrame(json_file)
# picsample_extract.rename(columns = {0:'pic_address'},inplace = True)
# picsample_extract.head()
# picsample_extract.to_csv('pic_address_sample.csv')

In [15]:
pd.set_option('display.width', 1000)
pic_address_sample = pd.read_csv('pic_address_sample.csv')
# pic_address_sample.head()
pic_address_full = []
for i in range(len(df_clean)):
    num = np.random.randint(0, len(pic_address_sample), 1)[0]
    pic_address_rd = pic_address_sample.loc[num][1]
    pic_address_full.append(pic_address_rd)
pic_address = pd.DataFrame(pic_address_full)
pic_address.rename(columns = {0:'photo_url'},inplace = True)
df_clean["photo_url"] = pic_address
pic_address.head()
# print(pic_address.loc[1:5])

                                           photo_url
0  https://raw.githubusercontent.com/PokeAPI/spri...
1  https://raw.githubusercontent.com/PokeAPI/spri...
2  https://raw.githubusercontent.com/PokeAPI/spri...
3  https://raw.githubusercontent.com/PokeAPI/spri...
4  https://raw.githubusercontent.com/PokeAPI/spri...

In [16]:
import random, string
from randomtimestamp import randomtimestamp, random_date, random_time

location_timestamp_sample = []
for i in range(len(df_clean)):
    location_timestamp_sample.append(randomtimestamp(start_year=2019,end_year=2021))
location_timestamp = pd.DataFrame()
location_timestamp.insert(0, 'loc_timestamp',location_timestamp_sample)
df_clean["loc_timestamp"] = location_timestamp
location_timestamp.head()

        loc_timestamp
0 2020-06-16 02:56:41
1 2020-11-15 17:21:27
2 2020-06-21 04:48:30
3 2019-02-03 17:57:45
4 2020-08-25 07:56:32

In [17]:
dummy_socialmedia_sample = ["Facebook","Tiktok","Twitter","YouTube","Instagram","LinkedIn"]
dummy_socialmedia_full = []
for i in range(len(df_clean)):
    num = np.random.randint(0, len(dummy_socialmedia_sample), 1)[0]
    dummy_socialmedia_rd = dummy_socialmedia_sample[num]
    dummy_socialmedia_full.append(dummy_socialmedia_rd)
dummy_socialmedia = pd.DataFrame()
dummy_socialmedia.insert(0, 'socialmedia',dummy_socialmedia_full)
df_clean["socialmedia"] = dummy_socialmedia
dummy_socialmedia.head()

  socialmedia
0     Twitter
1      Tiktok
2    LinkedIn
3     YouTube
4      Tiktok

In [18]:
# "https://" + str(uuid.uuid4().hex)[:16] + ".com"

In [19]:
video_url_store = []
for i in range(1000):
    video_url_store.append("https://" + str(uuid.uuid4().hex)[:16] + ".com")
dummy_video_url_full = []
for j in range(len(df_clean)):
    num = np.random.randint(0, len(video_url_store), 1)[0]
    dummy_video_url_rd = video_url_store[num]
    dummy_video_url_full.append(dummy_video_url_rd)
dummy_video_url = pd.DataFrame()
dummy_video_url.insert(0, 'video_url',dummy_video_url_full)
df_clean["video_url"] = dummy_video_url
dummy_video_url.head()

video_timestamp_sample = []
for i in range(len(df_clean)):
    video_timestamp_sample.append(randomtimestamp(start_year=2019,end_year=2021))
video_timestamp = pd.DataFrame()
video_timestamp.insert(0, 'video_timestamp',video_timestamp_sample)
df_clean["video_timestamp"] = video_timestamp
video_timestamp.head()

dummy_videoformat_sample = [".MOV",".AVI",".MP4",".WMV",".MPG",".RM"]
dummy_videoformat_full = []
for i in range(len(df_clean)):
    num = np.random.randint(0, len(dummy_videoformat_sample), 1)[0]
    dummy_videoformat_rd = dummy_videoformat_sample[num]
    dummy_videoformat_full.append(dummy_videoformat_rd)
ummy_videoformat = pd.DataFrame()
ummy_videoformat.insert(0, 'video_format',dummy_videoformat_full)
df_clean["video_format"] = ummy_videoformat
ummy_videoformat.head()

  video_format
0         .MPG
1         .MP4
2         .MPG
3         .MOV
4         .MPG

In [20]:
notification_store = []
for i in range(500):
    notification_store.append(str(uuid.uuid4().hex)[:12])
dummy_notification_full = []
for j in range(len(df_clean)):
    num = np.random.randint(0, len(notification_store), 1)[0]
    dummy_notification_rd = notification_store[num]
    dummy_notification_full.append(dummy_notification_rd)
dummy_notification = pd.DataFrame()
dummy_notification.insert(0, 'notification_content',dummy_notification_full)
df_clean["notification_content"] = dummy_notification
dummy_notification.head()

notification_timestamp_sample = []
for i in range(len(df_clean)):
    notification_timestamp_sample.append(randomtimestamp(start_year=2019,end_year=2021))
notification_timestamp = pd.DataFrame()
notification_timestamp.insert(0, 'notification_timestamp',notification_timestamp_sample)
df_clean["notification_timestamp"] = notification_timestamp
notification_timestamp.head()

  notification_timestamp
0    2020-04-24 11:30:12
1    2020-04-13 23:07:13
2    2021-09-25 11:20:10
3    2021-07-05 10:19:28
4    2019-11-30 03:37:28

In [21]:
notification_store = []
for i in range(500):
    notification_store.append(str(uuid.uuid4().hex)[:12])
dummy_notification_full = []
for j in range(len(df_clean)):
    num = np.random.randint(0, len(notification_store), 1)[0]
    dummy_notification_rd = notification_store[num]
    dummy_notification_full.append(dummy_notification_rd)
dummy_notification = pd.DataFrame()
dummy_notification.insert(0, 'notification_content',dummy_notification_full)
df_clean["notification_content"] = dummy_notification
dummy_notification.head()

notification_timestamp_sample = []
for i in range(len(df_clean)):
    notification_timestamp_sample.append(randomtimestamp(start_year=2019,end_year=2021))
notification_timestamp = pd.DataFrame()
notification_timestamp.insert(0, 'notification_timestamp',notification_timestamp_sample)
df_clean["notification_timestamp"] = notification_timestamp
notification_timestamp.head()

  notification_timestamp
0    2020-03-25 13:48:31
1    2020-04-15 04:42:29
2    2019-05-14 15:44:21
3    2021-01-18 09:01:09
4    2021-10-29 13:19:21

In [22]:
dummy_message_id = pd.DataFrame()
random_message_id = list(range(1, 1 + len(df_clean)))
random.shuffle(random_message_id)
dummy_message_id.insert(0, 'message_id', random_message_id)
df_clean["message_id"] = dummy_message_id
df_clean["message_id"] = df_clean["message_id"].astype("str")
dummy_message_id.head()

random_message = []
for i in range(len(df_clean)):
    random_message.append(''.join(random.choices(string.ascii_letters + string.digits, k=16)))
dummy_message_content = pd.DataFrame()
dummy_message_content.insert(0, 'message_content',random_message)
df_clean["message_content"] = dummy_message_content
dummy_message_content.head()

message_timestamp_sample = []
for i in range(len(df_clean)):
    message_timestamp_sample.append(randomtimestamp(start_year=2019,end_year=2021))
message_timestamp = pd.DataFrame()
message_timestamp.insert(0, 'message_timestamp',message_timestamp_sample)
df_clean["message_timestamp"] = message_timestamp
message_timestamp.head()

    message_timestamp
0 2019-06-24 19:07:07
1 2020-11-17 18:24:25
2 2019-06-09 02:55:31
3 2019-05-24 02:40:12
4 2019-02-01 10:56:55

In [23]:
matched_user_sample = df_clean >> select("userId")
matched_user_sample.drop_duplicates(inplace = True)
matched_user_sample = matched_user_sample["userId"].values.tolist()
dummy_matched_user_full = []
for i in range(len(df_clean)):
    num = np.random.randint(0, len(matched_user_sample), 1)[0]
    dummy_matched_user_rd = matched_user_sample[num]
    dummy_matched_user_full.append(dummy_matched_user_rd)
dummy_matched_user = pd.DataFrame()
dummy_matched_user.insert(0, 'matched_user_id',dummy_matched_user_full)
df_clean["matched_user_id"] = dummy_matched_user
dummy_matched_user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15968 entries, 0 to 15967
Data columns (total 1 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   matched_user_id  15968 non-null  object
dtypes: object(1)
memory usage: 124.9+ KB

In [24]:
# df_clean.iloc[288,]
# df_clean >> group_by('pictureId') >> summarize(count = 'n()')
df_clean.head()

  gender genderLooking  age          name  counts_details  counts_pictures  counts_profileVisits  counts_kisses  counts_fans  counts_g  flirtInterests_chat  flirtInterests_friends  flirtInterests_date country        city  location  distance  isFlirtstar  isHighlighted  isInfluencer  isMobile  isNew  isOnline  isVip  lang_count  lang_fr  lang_en  lang_de  lang_it  lang_es  lang_pt  verified  shareProfileEnabled        lastOnlineDate  lastOnlineTime  birthd  crypt                                freetext                                   whazzup                    userId                 pictureId  isSystemProfile                                          photo_url       loc_timestamp socialmedia                     video_url     video_timestamp video_format notification_content notification_timestamp message_id   message_content   message_timestamp           matched_user_id
0      F             M   25         daeni            1.00                4                  8279            239            0         3                    1                       1                    1      CH  Rothenburg  RÃ¼mlang     175.0        False          False         False         1  False         0  False           1        0        0        1        0        0        0     False                    1  2015-04-25T20:43:26Z    1.429995e+09       0    NaN  Nur tote Fisch schwimmen mit dem Strom   Nur tote fische schwimmen mit dem strom  4e3842f79b70e7ea57000064  3ecab7dce01a4077977690ee              NaN  https://raw.githubusercontent.com/PokeAPI/spri... 2020-06-16 02:56:41     Twitter  https://fb968e2921174063.com 2020-12-28 10:19:59         .MPG         0e3da2feb8bc    2020-03-25 13:48:31      14625  w21mdWzGGm7jh1e3 2019-06-24 19:07:07  55228972160ba0c7588b4d95
1      F             M   22   italiana 92            0.85                5                   663             13            0         0                    1                       1                    1      CH     Sissach   Sissach     138.0        False          False         False         1  False         0  False           3        1        0        1        1        0        0     False                    1  2015-04-26T09:19:35Z    1.430040e+09       0    NaN                                     NaN                             Primaveraaa<3  4e3d34bf5d2bce7b160006a3  b6d6240e1ff04d568fbc71e7              NaN  https://raw.githubusercontent.com/PokeAPI/spri... 2020-11-15 17:21:27      Tiktok  https://06cae1fef1de400a.com 2020-01-10 11:40:41         .MP4         48626cfddccc    2020-04-15 04:42:29      11819  qEofqEvN5GMqri9n 2020-11-17 18:24:25  54b6a4e81c0ba065648b4c17
2      F             M   21       Lauraaa            0.00                4                  1369             88            0         2                    0                       0                    1      CH       BÃ¢le     BÃ¢le     137.0        False          False         False         0  False         1  False           0        0        0        0        0        0        0     False                    1  2015-04-06T14:24:07Z    1.428330e+09       0    NaN                                     NaN                                       NaN  4ec96c090dc82cb25d00000a  2a2820f63235443db70ee125              NaN  https://raw.githubusercontent.com/PokeAPI/spri... 2020-06-21 04:48:30    LinkedIn  https://1a889f13def9427a.com 2019-07-15 17:50:38         .MPG         c2df2277f651    2019-05-14 15:44:21       1504  NXHOqkLnAbmPIfAj 2019-06-09 02:55:31  550c536d1a0ba0f8018b47bf
3      F          none   20    Qqkwmdowlo            0.12                3                 22187           1015            2         3                    1                       1                    0      CA   MontrÃ©al     Berne      77.3        False          False         False         0  False         0  False           2        1        1        0        0        0        0     False                    1  2015-04-07T11:21:01Z    1.428406e+09       0    NaN                                     NaN  Je pense donc je suis.  Instagram quedev  4eef8b81ebf2c8f64000000c  afadb87c8b224199bc101b7d              NaN  https://raw.githubusercontent.com/PokeAPI/spri... 2019-02-03 17:57:45     YouTube  https://ac354aa37b224396.com 2019-01-04 12:58:52         .MOV         c0d93a873fdb    2021-01-18 09:01:09       6824  md0WxFYpU4tVIegG 2019-05-24 02:40:12  53a5bac7ca6da16d548b6c18
4      F             M   21  schaessie {3            0.15               12                 35262           1413            9        12                    1                       0                    0      DE     Rastatt   Rastatt     286.0        False          False         False         0  False         1  False           1        0        0        1        0        0        0     False                    1  2015-04-06T14:25:20Z    1.428330e+09       0    NaN                                     NaN                     Instagram: JESSSIESCH  4ef3cc5aa9d0b3d07d000017  807b0bee71344cb992bbd947              NaN  https://raw.githubusercontent.com/PokeAPI/spri... 2020-08-25 07:56:32      Tiktok  https://821646ce23e242a1.com 2020-10-29 15:36:46         .MPG         5237329c2ff0    2021-10-29 13:19:21       7024  A1eYyTC9LkiOQys5 2019-02-01 10:56:55  5442940bcd6da1ac6d8b456b

In [25]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15968 entries, 0 to 15967
Data columns (total 54 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   gender                  15968 non-null  object
 1   genderLooking           15968 non-null  object
 2   age                     15968 non-null  int64
 3   name                    15968 non-null  object
 4   counts_details          15968 non-null  float64
 5   counts_pictures         15968 non-null  int64
 6   counts_profileVisits    15968 non-null  int64
 7   counts_kisses           15968 non-null  int64
 8   counts_fans             15968 non-null  int64
 9   counts_g                15968 non-null  int64
 10  flirtInterests_chat     15968 non-null  int64
 11  flirtInterests_friends  15968 non-null  int64
 12  flirtInterests_date     15968 non-null  int64
 13  country                 15968 non-null  object
 14  city                    14839 non-null  object
 15  location                15919 non-null  object
 16  distance                15788 non-null  float64
 17  isFlirtstar             15968 non-null  bool
 18  isHighlighted           15968 non-null  bool
 19  isInfluencer            15968 non-null  bool
 20  isMobile                15968 non-null  int64
 21  isNew                   15968 non-null  bool
 22  isOnline                15968 non-null  int64
 23  isVip                   15968 non-null  bool
 24  lang_count              15968 non-null  int64
 25  lang_fr                 15968 non-null  int64
 26  lang_en                 15968 non-null  int64
 27  lang_de                 15968 non-null  int64
 28  lang_it                 15968 non-null  int64
 29  lang_es                 15968 non-null  int64
 30  lang_pt                 15968 non-null  int64
 31  verified                15968 non-null  bool
 32  shareProfileEnabled     15968 non-null  int64
 33  lastOnlineDate          15964 non-null  object
 34  lastOnlineTime          15964 non-null  float64
 35  birthd                  15968 non-null  int64
 36  crypt                   180 non-null    float64
 37  freetext                460 non-null    object
 38  whazzup                 9567 non-null   object
 39  userId                  15968 non-null  object
 40  pictureId               15968 non-null  object
 41  isSystemProfile         11 non-null     float64
 42  photo_url               15968 non-null  object
 43  loc_timestamp           15968 non-null  datetime64[ns]
 44  socialmedia             15968 non-null  object
 45  video_url               15968 non-null  object
 46  video_timestamp         15968 non-null  datetime64[ns]
 47  video_format            15968 non-null  object
 48  notification_content    15968 non-null  object
 49  notification_timestamp  15968 non-null  datetime64[ns]
 50  message_id              15968 non-null  object
 51  message_content         15968 non-null  object
 52  message_timestamp       15968 non-null  datetime64[ns]
 53  matched_user_id         15968 non-null  object
dtypes: bool(6), datetime64[ns](4), float64(5), int64(20), object(19)
memory usage: 5.9+ MB

In [26]:
from sqlalchemy import create_engine

conn_url = 'postgresql://postgres:123@localhost/lovoo'
engine = create_engine(conn_url)
connection = engine.connect()
connection.autocommit = True

In [27]:
stmt_view_drop = """
DROP TABLE User_charm;
DROP TABLE User_Genderlooking;
DROP TABLE User_purpose;
DROP TABLE User_language;
DROP TABLE User_socialmedia;
DROP TABLE Notification_record;
DROP TABLE Video_record;
DROP TABLE User_match;
DROP TABLE Current_location;
DROP TABLE Photo;

DROP TABLE User_profile;
DROP TABLE Genderlooking;
DROP TABLE Purpose;
DROP TABLE Language;
DROP TABLE Socialmedia;
DROP TABLE Message;
"""
connection.execute(stmt_view_drop)

In [28]:
stmt = """
CREATE TABLE User_profile (
	User_id 				varchar(100),
	name 					varchar(50),
	age 					smallint,
	gender 					varchar(10),
	whazzup 				varchar(255),
	Country 				varchar(50),
	City 					varchar(50),
	isvip 					boolean,
	isnew 					boolean,
  	PRIMARY KEY (User_id)
);


CREATE TABLE Current_location (
	Current_location_id		varchar(50),
	User_id 				varchar(100),
	Current_location 		varchar(50),
	distance 				numeric(6,2),
	location_timestamp		timestamp,
  	PRIMARY KEY (Current_location_id),
	FOREIGN KEY (User_id) REFERENCES User_profile (User_id)
);

CREATE TABLE Photo (
	Photo_id 				varchar(50),
	User_id 				varchar(100),
	Photo_url 				varchar(255),
  	PRIMARY KEY (Photo_id),
	FOREIGN KEY (User_id) REFERENCES User_profile (User_id)
);

CREATE TABLE Video_record (
	Video_record_id 		varchar(50),
	User_id 				varchar(100),
	playing_timestamp		timestamp,
	video_format 			varchar(20),
	video_url 				varchar(255),
  	PRIMARY KEY (Video_record_id),
	FOREIGN KEY (User_id) REFERENCES User_profile (User_id)
);

CREATE TABLE Notification_record (
	Notification_record_id 	varchar(50),
	User_id 				varchar(100),
	Notification_timestamp	timestamp,
	Notification_content 			varchar(50),
  	PRIMARY KEY (Notification_record_id),
	FOREIGN KEY (User_id) REFERENCES User_profile (User_id)
);

CREATE TABLE Genderlooking (
	Genderlooking_id 		varchar(50),
	Genderlooking			varchar(10),
	PRIMARY KEY (Genderlooking_id)
);

CREATE TABLE Purpose (
	Purpose_id 				varchar(50),
	Purpose 				varchar(50),
  	PRIMARY KEY (Purpose_id)
);

CREATE TABLE Language (
	Language_id 			varchar(50),
	Language 				varchar(5),
	PRIMARY KEY (Language_id)
);

CREATE TABLE Socialmedia (
	Socialmedia_id 			varchar(50),
	Socialmedia 			varchar(10),
	PRIMARY KEY (Socialmedia_id)
);

CREATE TABLE User_charm (
	User_id 				varchar(100),
	profileVisit_number 	integer,
	fans_number 			integer,
	kisses_number 			integer,
	isFlirtstar 			boolean,
	isHighlighted 			boolean,
	isInfluencer 			boolean,
  	PRIMARY KEY (User_id),
	FOREIGN KEY (User_id) REFERENCES User_profile (User_id)
);


CREATE TABLE User_Genderlooking (
	User_id 				varchar(100),
	Genderlooking_id 		varchar(50),
  	PRIMARY KEY (User_id, Genderlooking_id),
	FOREIGN KEY (User_id) REFERENCES User_profile (User_id),
	FOREIGN KEY (Genderlooking_id) REFERENCES Genderlooking (Genderlooking_id)
);

CREATE TABLE User_purpose (
	User_id 				varchar(100),
	Purpose_id	 			varchar(50),
  	PRIMARY KEY (User_id, Purpose_id),
	FOREIGN KEY (User_id) REFERENCES User_profile (User_id),
	FOREIGN KEY (Purpose_id) REFERENCES Purpose (Purpose_id)
);

CREATE TABLE User_language (
	User_id					varchar(100),
    Language_id				varchar(50),
  	PRIMARY KEY (User_id,Language_id),
	FOREIGN KEY (User_id) REFERENCES User_profile (User_id),
	FOREIGN KEY (Language_id) REFERENCES Language (Language_id)
);

CREATE TABLE User_socialmedia (
	User_id					varchar(100),
    Socialmedia_id			varchar(50),
  	PRIMARY KEY (User_id,Socialmedia_id),
	FOREIGN KEY (User_id) REFERENCES User_profile (User_id),
	FOREIGN KEY (Socialmedia_id) REFERENCES Socialmedia (Socialmedia_id)
);

CREATE TABLE Message (
	Message_id 				varchar(50),
	Message_content 		varchar(255),
	Message_timestamp 		timestamp,
	PRIMARY KEY (Message_id)
);


CREATE TABLE User_match (
	Match_id 				varchar(50),
	User_id 				varchar(100),
	Matched_user_id 		varchar(100),
	Message_id 				varchar(50),
	PRIMARY KEY (Match_id, Message_id),
	FOREIGN KEY (User_id) REFERENCES User_profile (User_id),
	FOREIGN KEY (Matched_user_id) REFERENCES User_profile (User_id),
	FOREIGN KEY (Message_id) REFERENCES Message (Message_id)
);



"""
connection.execute(stmt)

In [29]:
user_profile = df_clean >> select("userId","name","age","gender","whazzup","country","city","isVip","isNew")
user_profile.drop_duplicates(inplace = True)
user_profile_name = ["user_id","name","age","gender","whazzup","country","city","isvip","isnew"]
user_profile.columns = user_profile_name
# user_profile.head()
user_profile.info()
user_profile.to_sql(name='user_profile', con=engine, if_exists='append', index=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3992 entries, 0 to 3991
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  3992 non-null   object
 1   name     3992 non-null   object
 2   age      3992 non-null   int64
 3   gender   3992 non-null   object
 4   whazzup  2399 non-null   object
 5   country  3992 non-null   object
 6   city     3706 non-null   object
 7   isvip    3992 non-null   bool
 8   isnew    3992 non-null   bool
dtypes: bool(2), int64(1), object(6)
memory usage: 257.3+ KB

992

In [30]:
current_location = df_clean >> select("userId","location","distance","loc_timestamp")
current_location.drop_duplicates(inplace = True)
current_location_name = ["user_id","current_location","distance","location_timestamp"]
current_location.columns = current_location_name
current_location.insert(0, 'current_location_id', range(1, 1 + len(df_clean)))
# current_location.info()
current_location.head()
current_location.to_sql(name='current_location', con=engine, if_exists='append', index=False)

968

In [31]:
user_charm = df_clean >> select("userId","counts_profileVisits","counts_fans","counts_kisses","isFlirtstar","isHighlighted","isInfluencer")
user_charm.drop_duplicates(inplace = True)
user_charm_name = ["user_id","profilevisit_number","fans_number","kisses_number","isflirtstar","ishighlighted","isinfluencer"]
user_charm.columns = user_charm_name
user_charm.head()
user_charm.to_sql(name='user_charm', con=engine, if_exists='append', index=False)

992

In [32]:
photo = df_clean >> select("pictureId","userId","photo_url")
photo.drop_duplicates(inplace = True)
photo_name = ["photo_id","user_id","photo_url"]
photo.columns = photo_name
photo.info()
photo.to_sql(name='photo', con=engine, if_exists='append', index=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15968 entries, 0 to 15967
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   photo_id   15968 non-null  object
 1   user_id    15968 non-null  object
 2   photo_url  15968 non-null  object
dtypes: object(3)
memory usage: 499.0+ KB

968

In [33]:
df_socialmedia = df_clean >> select("userId","socialmedia")
df_socialmedia.drop_duplicates(inplace = True)
df_socialmedia.head()

                     userId socialmedia
0  4e3842f79b70e7ea57000064     Twitter
1  4e3d34bf5d2bce7b160006a3      Tiktok
2  4ec96c090dc82cb25d00000a    LinkedIn
3  4eef8b81ebf2c8f64000000c     YouTube
4  4ef3cc5aa9d0b3d07d000017      Tiktok

In [34]:
socialmedia = df_socialmedia >> select('socialmedia')
socialmedia.drop_duplicates(inplace = True)
socialmedia.insert(0, 'socialmedia_id', range(1, 1 + len(socialmedia)))
socialmedia_name = ["socialmedia_id","socialmedia"]
socialmedia.columns = socialmedia_name
socialmedia.head()
socialmedia.to_sql(name='socialmedia', con=engine, if_exists='append', index=False)

6

In [35]:
user_socialmedia_id_list = [socialmedia.socialmedia_id[socialmedia.socialmedia == i].values[0] for i in df_socialmedia.socialmedia]
user_socialmedia = df_socialmedia >> select('userId')
user_socialmedia_name = ["user_id"]
user_socialmedia.columns = user_socialmedia_name
user_socialmedia.insert(1, 'socialmedia_id', user_socialmedia_id_list)
user_socialmedia.head()
# user_language.info()
user_socialmedia.to_sql(name='user_socialmedia', con=engine, if_exists='append', index=False)

845

In [36]:
df_language = df_clean >> select("userId","lang_fr","lang_en","lang_de","lang_it","lang_es","lang_pt")
df_language.drop_duplicates(inplace = True)
df_language["lang_fr"].replace(1,"FR",inplace = True)
df_language["lang_en"].replace(1,"EN",inplace = True)
df_language["lang_de"].replace(1,"DE",inplace = True)
df_language["lang_it"].replace(1,"IT",inplace = True)
df_language["lang_es"].replace(1,"ES",inplace = True)
df_language["lang_pt"].replace(1,"PT",inplace = True)
df_language = df_language.melt(id_vars=["userId"],value_name = "lang_can",var_name ="lang")
df_language = df_language >> select("userId","lang_can") >> query('lang_can != 0')
# df_language >> group_by('userId') >> summarize(count = 'n()')
# df_id = df_clean >> select("userId")
# df_language = pd.merge(df_id,df_language,on='userId',how='left')
# df_language["lang_can"] = df_language["lang_can"].fillna(value="None")
df_language.info()
# df_language.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4298 entries, 1 to 23884
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   userId    4298 non-null   object
 1   lang_can  4298 non-null   object
dtypes: object(2)
memory usage: 100.7+ KB

In [37]:
language = df_language >> select('lang_can')
language.drop_duplicates(inplace = True)
language.insert(0, 'language_id', range(1, 1 + len(language)))
language_name = ["language_id","language"]
language.columns = language_name
language.head(10)
language.to_sql(name='language', con=engine, if_exists='append', index=False)

6

In [38]:
user_language_id_list = [language.language_id[language.language == i].values[0] for i in df_language.lang_can]
user_language = df_language >> select('userId')
user_language_name = ["user_id"]
user_language.columns = user_language_name
user_language.insert(1, 'language_id', user_language_id_list)
user_language.head()
user_language.info()
user_language.to_sql(name='user_language', con=engine, if_exists='append', index=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4298 entries, 1 to 23884
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      4298 non-null   object
 1   language_id  4298 non-null   int64
dtypes: int64(1), object(1)
memory usage: 100.7+ KB

298

In [39]:
df_purpose = df_clean >> select("userId","flirtInterests_chat","flirtInterests_friends","flirtInterests_date")
df_purpose.drop_duplicates(inplace = True)
df_purpose["flirtInterests_chat"].replace(1,"Chat",inplace = True)
df_purpose["flirtInterests_friends"].replace(1,"Friends",inplace = True)
df_purpose["flirtInterests_date"].replace(1,"Date",inplace = True)
df_purpose = df_purpose.melt(id_vars=["userId"],value_name = "purpose_value",var_name ="purpose")
df_purpose = df_purpose >> select("userId","purpose_value") >> query('purpose_value != 0')
# df_id = df_clean >> select("userId")
# df_purpose = pd.merge(df_id,df_purpose,on='userId',how='left')
# df_purpose["purpose_value"] = df_purpose["purpose_value"].fillna(value="None")
# df_purpose.nunique()
df_purpose.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6552 entries, 0 to 11971
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   userId         6552 non-null   object
 1   purpose_value  6552 non-null   object
dtypes: object(2)
memory usage: 153.6+ KB

In [40]:
# df_purpose >> query('purpose_value == "None"')
# df_clean >> query('userId == "510ef67b160ba0dd660000e6"')

In [41]:
purpose = df_purpose >> select('purpose_value')
purpose.drop_duplicates(inplace = True)
purpose.insert(0, 'purpose_id', range(1, 1 + len(purpose)))
purpose_name = ["purpose_id","purpose"]
purpose.columns = purpose_name
purpose.head(10)
purpose.to_sql(name='purpose', con=engine, if_exists='append', index=False)

3

In [42]:
user_purpose_id_list = [purpose.purpose_id[purpose.purpose == i].values[0] for i in df_purpose.purpose_value]
user_purpose = df_purpose >> select('userId')
user_purpose_name = ["user_id"]
user_purpose.columns = user_purpose_name
user_purpose.insert(1, 'purpose_id', user_purpose_id_list)
user_purpose.head(10)
user_purpose.info()
user_purpose.to_sql(name='user_purpose', con=engine, if_exists='append', index=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6552 entries, 0 to 11971
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     6552 non-null   object
 1   purpose_id  6552 non-null   int64
dtypes: int64(1), object(1)
memory usage: 153.6+ KB

552

In [43]:
df_genderLooking = df_clean >> select("userId","genderLooking")
df_genderLooking.drop_duplicates(inplace = True)
df_genderLooking["genderLooking"].replace("both","M|F",inplace = True)
df_genderLooking["genderLooking"].replace("none","None",inplace = True)
df_genderLooking_temp = df_genderLooking.genderLooking.str.split('|').apply(pd.Series, 1).stack()
df_genderLooking_temp.index = df_genderLooking_temp.index.droplevel(-1)
df_genderLooking_temp.name = 'genderLooking'
del df_genderLooking['genderLooking']
df_genderLooking = df_genderLooking.join(df_genderLooking_temp)
# # df_purpose.nunique()
df_genderLooking.head(10)
df_genderLooking.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4013 entries, 0 to 3991
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   userId         4013 non-null   object
 1   genderLooking  4013 non-null   object
dtypes: object(2)
memory usage: 94.1+ KB

In [44]:
genderlooking = df_genderLooking >> select('genderLooking')
genderlooking.drop_duplicates(inplace = True)
genderlooking.insert(0, 'genderlooking_id', range(1, 1 + len(genderlooking)))
genderlooking_name = ["genderlooking_id","genderlooking"]
genderlooking.columns = genderlooking_name
genderlooking.head(10)
genderlooking.to_sql(name='genderlooking', con=engine, if_exists='append', index=False)

3

In [45]:
user_genderlooking_id_list = [genderlooking.genderlooking_id[genderlooking.genderlooking == i].values[0] for i in df_genderLooking.genderLooking]
user_genderlooking = df_genderLooking >> select('userId')
user_genderlooking_name = ["user_id"]
user_genderlooking.columns = user_genderlooking_name
user_genderlooking.insert(1, 'genderlooking_id', user_genderlooking_id_list)
user_genderlooking.head(10)
user_genderlooking.info()
user_genderlooking.to_sql(name='user_genderlooking', con=engine, if_exists='append', index=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4013 entries, 0 to 3991
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   user_id           4013 non-null   object
 1   genderlooking_id  4013 non-null   int64
dtypes: int64(1), object(1)
memory usage: 94.1+ KB

13

In [46]:
video = df_clean >> select("userId","video_timestamp","video_format","video_url")
video.drop_duplicates(inplace = True)
video_name = ["user_id","playing_timestamp","video_format","video_url"]
video.columns = video_name
video.insert(0, 'video_record_id', range(1, 1 + len(video)))
video.info()
video.to_sql(name='video_record', con=engine, if_exists='append', index=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15968 entries, 0 to 15967
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   video_record_id    15968 non-null  int64
 1   user_id            15968 non-null  object
 2   playing_timestamp  15968 non-null  datetime64[ns]
 3   video_format       15968 non-null  object
 4   video_url          15968 non-null  object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 748.5+ KB

968

In [47]:
notification = df_clean >> select("userId","notification_timestamp","notification_content")
notification.drop_duplicates(inplace = True)
notification_name = ["user_id","notification_timestamp","notification_content"]
notification.columns = notification_name
notification.insert(0, 'notification_record_id', range(1, 1 + len(notification)))
notification.info()
notification.to_sql(name='notification_record', con=engine, if_exists='append', index=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15968 entries, 0 to 15967
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   notification_record_id  15968 non-null  int64
 1   user_id                 15968 non-null  object
 2   notification_timestamp  15968 non-null  datetime64[ns]
 3   notification_content    15968 non-null  object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 623.8+ KB

968

In [48]:
df_user_match = df_clean >> select("userId","matched_user_id","message_id","message_content","message_timestamp")
df_user_match.drop_duplicates(inplace = True)
df_user_match.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15968 entries, 0 to 15967
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   userId             15968 non-null  object
 1   matched_user_id    15968 non-null  object
 2   message_id         15968 non-null  object
 3   message_content    15968 non-null  object
 4   message_timestamp  15968 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(4)
memory usage: 748.5+ KB

In [49]:
message = df_user_match >> select("message_id","message_content","message_timestamp")
message.drop_duplicates(inplace = True)
message.head(10)
message.to_sql(name='message', con=engine, if_exists='append', index=False)

968

In [50]:
user_match = df_user_match >> select("userId","matched_user_id","message_id")
user_match.drop_duplicates(inplace = True)
user_match.rename(columns = {"userId":'user_id'},inplace = True)
user_match.insert(0, 'match_id', range(1, 1 + len(user_match)))
user_match.head(10)
user_match.to_sql(name='user_match', con=engine, if_exists='append', index=False)

968